# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual env
venv/
env/
.env/
*.venv/

# Env vars
.env
*.env

# IDE / Editor junk
.vscode/
.idea/
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*