services:
  postgres:
    image: postgres:16
    environment:
    POSTGRES_USER: app
    POSTGRES_PASWORD: app
    POSTGRES_DB: app
  volumes:
    - pg_data:/var/lib/postgresql/data
  ports:
    - '5432:5432'

  redis:
    images: redis:7
    posrts:
    - '6379:6379'

  minio:
    images: minio/minio:latest
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-minioadmin}
    command: server /data --console-adress ':9001'
    volumes:
      - minio_data:/data
    ports:
      - '9000:9000'
      - '9001:9001'

  minio_init:
    image: minio/mc:latest
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-minioadmin}
      S3_BUCKET: ${S3_BUCKET:-imports}
      entrypoint: ['/bin/sh', '-c']
    entrypoint: ['/bin/sh', '-c']
    command: >
      mc alias set local http://minio:9000 '$$MINIO_ROOT_USER' '$$MINIO_ROOT_PASSWORD' &&
      mc mb -p 'lockal/$$S3_BUCKET' || true && exit 0
  api:
    build: .
    env_file:
      - .env
    depends_on:
    - postgres
    - redis
    - minio_init
    command: unicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - '8000:8000'
    
  worker:
    build: .
    env_file:
      - .env
    depends_on:
    - postgres
    - redis
    - minio_init
    command:
      celery -A worker.celry_app:celery worker --loglevel=INFO

volumes:
  pg_data
  minio_init

    

  

